@charset "utf-8";
*{margin:0; padding:0;}
.right{position:absolute;width:50%;height:110px;left:25%;top:25%;border-style: groove;background-color:white;text-align: center;}
.right th{height:60px}
.right td{height:50px}